/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #c3e2f7; /* Light blue background */
  color: #000; /* Black text color */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.title {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

.leaderboard-toggler {
  margin-bottom: 20px;
}

.leaderboard-toggler button {
  padding: 10px 20px;
  margin: 0 8px;
  font-size: 18px;
  background-color: #fff; /* White button background */
  color: #387197; /* Light blue button text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.leaderboard-toggler button:hover {
  background-color: #387197; /* Light blue button background on hover */
  color: #fff; /* White button text color on hover */
}

.leaderboard-toggler button.active {
  background-color: #fff; /* White background for active button */
  color: #387197; /* Light blue text color for active button */
}

.leaderboard-table {
  width: 100%;
  border-collapse: collapse;
}

.leaderboard-table th,
.leaderboard-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.leaderboard-table th {
  background-color: #f2f2f2;
}

.leaderboard-table a {
  text-decoration: none;
  color: #333;
}

.leaderboard-table a:hover {
  text-decoration: underline;
}

.leaderboard-table tbody tr:hover {
  background-color: #f2f2f2;
}
